
<div class="container mt-5">

    <div *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center titulo">Recuperar contraseña</h2>
                    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Ingrese su correo">
                            <span class="text-danger"
                            *ngIf="recuperarForm.controls.usuario.errors?.required && recuperarForm.controls.usuario?.touched">
                                El correo <strong>es requrido</strong>
                            </span>

                            <span class="text-danger"
                            *ngIf="recuperarForm.controls.usuario.errors?.email && recuperarForm.controls.usuario?.touched">
                                El correo <strong>es invalido</strong>
                            </span>
                        </div>   
                        <button routerLink="/usuario" class="btn btn-secondary btn-lg">Volver</button>      
                        <button type="submit" [disabled]="recuperarForm.invalid" class="btn btn-primary btn-lg float-end">Aceptar</button>
                        
                    </form>
                </div>

             
            </div>
        </div>
    </div>
</div>