
<div class="d-flex justify-content-center mt-3">
    <button class="btn-principal btn-preguntados" routerLink="/dashboard/crearFormulario">NUEVO</button>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Cant. Preguntas</th>
                                <th>Código</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Mundial de futbol</th>
                                <th>10</th>
                                <th><span class="bg-dark text-light rounded px-2 py-1">MNG4J3</span></th>
                                <th><i class="fas fa-search text-secundary"></i>
                                    <i class="fas fa-chart-bar text-info"></i>
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


